@import "components/logo";
@import "components/nav";
@import "components/controls";
@import "components/language-selection";
@import "components/search";
@import "components/graphics";
@import "components/nav-menu";
@import "layout/header";
@import "components/footer-main";
@import "components/socials";
@import "layout/footer";

* {
  outline: none;
}

body {
  font-family: 'DaxlinePro', sans-serif;
  overflow-x: hidden;
}

.chartdiv {
  width: 1290px;
  height: 616px;
  margin-left: auto;
}

.country-description-active {
  visibility: visible !important;
  opacity: 1 !important;
}

.country-description {
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  z-index: 2;
  padding: 20px 32px;
  position: absolute;
  width: 309px;
  min-height: 195px;
  height: fit-content;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #004985;
  transform: translate(-346px, -50%);

  .close-button {
    position: absolute;
    top: 20px;
    right: 22px;
    width: 13px;
    height: 13px;

    div {
      position: absolute;
      width: 100%;
      height: 2px;
      background: #fff;
    }

    div:nth-child(1) {
      transform: rotate(45deg);
    }

    div:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

.country-description:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  display: block;
  width: 37px;
  height: 3px;
  background: #004985;
  border-radius: 0 50% 50% 0;
}